name: Build PR

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
      name: Clone

    - uses: actions/setup-dotnet@v1
      name: Install .NET Core
      with:
        dotnet-version: 5.0.100

    - uses: microsoft/setup-msbuild@v1.0.2
      name: Configure Visual Studio

    - name: Build x86
      working-directory: .
      run: |
        & .\build.cmd -pack -bl -platform x86
 
    - name: Build x64
      working-directory: .
      run: |
        & .\build.cmd -pack -bl -platform x64

    - name: Create NuGet Package
      working-directory: .
      run: |
        .\eng\create-updatedwpf-nupkg.ps1 `
          -VersionNumber 1.0.255.255 `
          -WorkDirectory artifacts\tmp\nupkg `
          -SdkPackagePath artifacts\packages\Debug\NonShipping\Microsoft.NET.Sdk.WindowsDesktop.Debug.5.0.0-dev.nupkg `
          -BinaryPackagePath artifacts\packages\Debug\NonShipping\runtime.win-x86.Microsoft.DotNet.Wpf.GitHub.Debug.5.0.0-dev.nupkg `
          -BinaryPackagePath64Bit artifacts\packages\Debug\NonShipping\runtime.win-x64.Microsoft.DotNet.Wpf.GitHub.Debug.5.0.0-dev.nupkg `
          -NuspecTemplatePath eng\Sunburst.UpdatedWPF.nuspec

    - name: Upload NuGet Package
      uses: actions/upload-artifact@v2
      with:
        name: NuGet Package
        path: artifacts/tmp/nuget/Sunburst.UpdateWPF.1.0.255.255.nupkg
